<div class="banner">
  <div class="container">
    <h1><strong>Wong Kar Wai Collection</strong></h1>
    <p></p>
    <%= link_to "New List", new_list_path, class: "btn btn-secondary" %>
    <%# <%= link_to "View list", list_path(@list), class: "btn btn-secondary"  %>
  </div>
</div>
